.item {
  margin-right: 10px;

  opacity: 0.55;
  text-transform: capitalize;
  cursor: pointer;
}

.item:hover {
  opacity: 1;
}

.item:first-child {
  color: #79aaff;
  opacity: 1;
}

.item:last-child {
  margin: 0;
  margin-left: 20px;
}
