.title {
  width: 470px;
  padding: 50px 0 30px 0;
  letter-spacing: 14px;
  color: #ffffff;
}

.list {
  width: 100%;
  box-shadow: 0 14px 28px rgb(100 100 100 / 10%),
    0 10px 10px rgb(100 100 100 / 5%);
}
