.container {
  background-color: white;
}

.nav {
  width: 470px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  margin-right: 30px;
}

.navItem:last-child {
  margin: 0;
}

.link {
  text-decoration: none;
  color: gray;
}
